<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang chủ</title>
    <!-- Logo load -->
    <link
      rel="icon"
      href="/assets/image/logo/logo-load.png"
      type="image/icon type"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/grid.css" />
    <link rel="stylesheet" href="/assets/css/home.css" />
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- Icon -->
    <script
      src="https://kit.fontawesome.com/7b9d660613.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Header -->
    <header id="header" class="header">
      <div class="header__container grid wide">
        <div class="header__content">
          <div class="header__logo">
            <a href="#" class="header__logo-link">
              <img
                src="/assets/image/logo/logo-header.png"
                alt="logo"
                class="image__logo"
              />
            </a>
          </div>
          <div class="header__button">
            <a href="#" class="button button__link">Đăng nhập</a>
            <a href="/register" class="button button__link">Đăng ký</a>
          </div>
        </div>
      </div>
    </header>
    <!-- End Header -->
    <div class="button-top">
      <div class="button-top__item">
        <i class="fa-solid fa-caret-up"></i>
      </div>
    </div>
    <!-- Body content -->
    <div class="homepage">
      <div class="grid wide homepage__content">
        <div class="row">
          <div class="col l-3">
            <div class="tour-filter">
              <div class="tour-filter__heading">BỘ LỌC TÌM KIẾM</div>
              <div class="tour-filter__form">
                <h5 class="tour-filter__title">Ngân sách:</h5>
                <ul class="tour-filter__box">
                  <li
                    class="tour-filter__option budget"
                    data-minBudget="0"
                    data-maxBudget="5000000"
                  >
                    Dưới 5 triệu
                  </li>
                  <li
                    class="tour-filter__option budget"
                    data-minBudget="5000000"
                    data-maxBudget="10000000"
                  >
                    Từ 5 - 10 triệu
                  </li>
                  <li
                    class="tour-filter__option budget"
                    data-minBudget="10000000"
                    data-maxBudget="20000000"
                  >
                    Từ 10 - 20 triệu
                  </li>
                  <li
                    class="tour-filter__option budget"
                    data-minBudget="20000000"
                  >
                    Trên 20 triệu
                  </li>
                </ul>
                <h5 class="tour-filter__title">Điểm khởi hành:</h5>
                <div class="tour-filter__box-input province departure-point">
                  <span class="tour-filter__box-text" data-value=""
                    >Tất cả</span
                  >
                  <span class="icon">
                    <i class="fa-solid fa-chevron-up"></i>
                  </span>
                  <ul class="tour-filter__option-box">
                    <li class="tour-filter__option-item active">Tất cả</li>
                  </ul>
                </div>
                <h5 class="tour-filter__title">Điểm đến:</h5>
                <div class="tour-filter__box-input province destination">
                  <span class="tour-filter__box-text">Tất cả</span>
                  <span class="icon">
                    <i class="fa-solid fa-chevron-up"></i>
                  </span>
                  <ul class="tour-filter__option-box">
                    <li class="tour-filter__option-item active">Tất cả</li>
                  </ul>
                </div>
                <h5 class="tour-filter__title">Ngày đi:</h5>
                <div class="tour-filter__box-input">
                  <!-- <span>T7, 20 tháng 12</span> -->
                  <input
                    type="date"
                    name="startDate"
                    class="tour-filter__input-date"
                  />
                </div>
                <h5 class="tour-filter__title">Dòng tour:</h5>
                <ul class="tour-filter__box">
                  <li class="tour-filter__option type" data-id="4">Cao cấp</li>
                  <li class="tour-filter__option type" data-id="3">
                    Tiêu chuẩn
                  </li>
                  <li class="tour-filter__option type" data-id="1">
                    Tiết kiệm
                  </li>
                  <li class="tour-filter__option type" data-id="2">Giá tốt</li>
                </ul>
                <h5 class="tour-filter__title">Phương tiện:</h5>
                <ul class="tour-filter__box">
                  <li class="tour-filter__option transport" data-id="1">Xe</li>
                  <li class="tour-filter__option transport" data-id="2">
                    Máy bay
                  </li>
                </ul>
                <button class="tour-filter__submit">Áp dụng</button>
              </div>
            </div>
          </div>
          <div class="col l-9">
            <div class="tour-list">
              <div class="tour-list__heading">
                <p class="tour-list__text">
                  Chúng tôi tìm thấy <span>100</span> chương trình tour cho quý
                  khách
                </p>
                <div class="tour-list__sort">
                  <span>Sắp xếp theo:</span>
                  <div class="tour-list__sort-box">
                    <span>Ngày khởi hành gần nhất</span>
                    <span class="icon">
                      <i class="fa-solid fa-chevron-up"></i>
                    </span>
                    <ul class="tour-list__box-option">
                      <li class="tour-list__box-item">
                        <a href="#" class="tour-list__box-link">Tất cả</a>
                      </li>
                      <li class="tour-list__box-item">
                        <a href="#" class="tour-list__box-link"
                          >Giá từ cao đến thấp</a
                        >
                      </li>
                      <li class="tour-list__box-item">
                        <a href="#" class="tour-list__box-link"
                          >Giá từ thấp đến cao</a
                        >
                      </li>
                      <li class="tour-list__box-item">
                        <a href="#" class="tour-list__box-link active"
                          >Ngày khởi hành gần nhất</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="tour-list__item-container"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End body content -->
    <!-- Javascript -->
    <%- include('../partials/baseScriptFE')%>
    <script src="/js/home.js"></script>
    <script>
      let buttonTop = document.querySelector('.button-top');

      buttonTop.addEventListener('click', () => {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      });

      window.addEventListener('scroll', () => {
        if (window.scrollY > 100) {
          buttonTop.classList.add('active');
        } else {
          buttonTop.classList.remove('active');
        }
      });
    </script>
  </body>
</html>
