<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link css -->
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="stylesheet" href="/assets/css/grid.css">
    <!-- end link css -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Đăng nhập tài khoản</title>
</head>

<body>
    <!-- Header -->
    <header id="header" class="header">
        <div class="header__container grid wide">
            <div class="header__content">
                <div class="header__logo">
                    <a href="#" class="header__logo-link">
                        <img src="/assets/image/logo/logo-header.png" alt="logo" class="image__logo" />
                    </a>
                </div>
                <!-- <div class="header__button">
                    <a href="#" class="button button__link">Đăng nhập</a>
                    <a href="#" class="button button__link">Đăng ký</a>
                </div> -->
            </div>
        </div>
    </header>
    <!-- End Header -->

    <!-- Container -->

    <div class="login-content">
        <!-- <div class="login-title"></div> -->
        <div class="form-login">
            <h1>Đăng nhập</h1>
            <form action="#" method="POST">
                <div class="input-group">
                    <label class="lb-content" for="username">Tên tài khoản</label> <br>
                    <input class="ip-cen" type="text" id="username" name="username" required
                        placeholder="Tên tài khoản">
                    <label class="lb-content" for="password">Mật khẩu</label> <br>
                    <input class="ip-cen" type="password" id="password" name="password" required placeholder="Mật khẩu">
                    <div class="options">
                        <div class="ip-check">
                            <div class="ip-check_main">
                                <input class="ip-box" type="checkbox" id="remember" name="remember">
                                <label for="remember">Nhớ tài khoản</label>
                            </div>
                            <a class="ip-link" href="#">Quên mật khẩu?</a>
                        </div>
                    </div>
                    <button class="btn-submit" type="submit">ĐĂNG NHẬP</button>
                    <p class="btn-signin">Bạn chưa có tài khoản? <a href="#">Đăng ký</a></p>
            </form>
        </div>
    </div>
    <!-- End Container -->

    <script type="module" src="/js/login.js"></script>
</body>

</html>