<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đặt tour</title>
    <!-- Logo load -->
    <link
      rel="icon"
      href="/assets/image/logo/logo-load.png"
      type="image/icon type"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/grid.css" />
    <link rel="stylesheet" href="/assets/css/home.css" />
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- Icon -->
    <script
      src="https://kit.fontawesome.com/7b9d660613.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Header -->
    <header id="header" class="header">
      <div class="header__container grid wide">
        <div class="header__content">
          <div class="header__logo">
            <a href="#" class="header__logo-link">
              <img
                src="/assets/image/logo/logo-header.png"
                alt="logo"
                class="image__logo"
              />
            </a>
          </div>
          <div class="header__button">
            <a href="#" class="button button__link">Đăng nhập</a>
            <a href="#" class="button button__link">Đăng ký</a>
          </div>
        </div>
      </div>
    </header>
    <!-- End Header -->

    <!-- Body content -->
    <div class="orderpage">
      <div class="grid wide orderpage__container">
        <div class="row">
          <div class="col l-12">
            <div class="orderpage__header">
              <h1 class="orderpage__header-title">Đặt tour</h1>
              <div class="infor-step">
                <!-- Item -->
                <div class="infor-step__item active">
                  <span class="infor-step__item-icon"
                    ><i class="fa-solid fa-file-pen"></i>
                  </span>
                  <p class="infor-step__item-title">Nhập thông tin</p>
                </div>
                <!-- Arrow -->
                <div class="infor-step__item">
                  <span class="infor-step__item-icon --arrow">
                    <i class="fa-solid fa-right-long"></i>
                  </span>
                </div>
                <!-- Item -->
                <div class="infor-step__item">
                  <span class="infor-step__item-icon">
                    <i class="fa-solid fa-money-bill-wave"></i>
                  </span>
                  <p class="infor-step__item-title">Thanh toán</p>
                </div>
                <!-- Arrow -->
                <div class="infor-step__item">
                  <span class="infor-step__item-icon --arrow">
                    <i class="fa-solid fa-right-long"></i>
                  </span>
                </div>
                <!-- Item -->
                <div class="infor-step__item">
                  <span class="infor-step__item-icon"
                    ><i class="fa-solid fa-circle-check"></i>
                  </span>
                  <p class="infor-step__item-title">Đặt thành công</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col l-7">
            <div class="customer-info">
              <h3 class="customer-info__heading">Thông tin liên lạc</h3>
              <div class="customer-info__box">
                <div class="box__item">
                  <label for="input-name" class="box__label">Họ và tên</label>
                  <input
                    id="input-name"
                    type="text"
                    placeholder="Nhập họ và tên"
                    class="box__input"
                  />
                  <span class="box__warning">Thông tin bắt buộc</span>
                </div>
                <div class="box__item">
                  <label for="input-phone" class="box__label">Điện thoại</label>
                  <input
                    id="input-phone"
                    type="text"
                    placeholder="Nhập số điện thoại"
                    class="box__input"
                  />
                  <span class="box__warning">Thông tin bắt buộc</span>
                </div>
                <div class="box__item">
                  <label for="input-email" class="box__label">Email</label>
                  <input
                    id="input-email"
                    type="text"
                    placeholder="Nhập email"
                    class="box__input"
                  />
                  <span class="box__warning">Thông tin bắt buộc</span>
                </div>
                <div class="box__item">
                  <label for="input-address" class="box__label">Địa chỉ</label>
                  <input
                    id="input-address"
                    type="text"
                    placeholder="Nhập địa chỉ"
                    class="box__input"
                  />
                  <span class="box__warning">Thông tin bắt buộc</span>
                </div>
              </div>
              <h3 class="customer-info__heading">Hành khách</h3>
            </div>
          </div>
          <div class="col l-5">
            <div class="tour-infor">
              <h4>Day la infor tour</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
