<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <!-- Cần title -->
  </head>

  <body>
    <div class="nav-bar-content">
      <!-- Start menubar -->
      <%- include('./menuBar') %>

      <!-- Javascript -->
      <%- include('../partials/baseScript')%>
    </div>
  </body>
</html>
