<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <div class="nav-bar-content">
    <!-- Silde__bad tách -->
    <div id="nav-bar">
      <input id="nav-toggle" type="checkbox" />
      <div id="nav-header"><a id="nav-title" href="#" target="_blank">3TVTOUR</a>
        <label for="nav-toggle"><span id="nav-toggle-burger"></span></label>
        <hr />
      </div>
      <div id="nav-content">
        <div class="nav-button"><i class="fas fa-chart-line"></i><span>Tổng quan</span></div>
        <div class="nav-button"><i class="fas fa-truck-plane"></i><span>Phương tiện</span></div>
        <div class="nav-button"><i class="fas fa-users"></i><span>Người dùng</span></div>
        <div class="nav-button"><i class="fas fa-ticket"></i><span>Voucher</span></div>
        <div class="nav-button"><i class="fas fa-earth-americas"></i><span>Tour</span></div>
        <div id="nav-content-highlight"></div>
      </div>
      <input id="nav-footer-toggle" type="checkbox" />
      <div id="nav-footer">
        <div id="nav-footer-heading">
          <div id="nav-footer-avatar"><img src="https://gravatar.com/avatar/4474ca42d303761c2901fa819c4f2547" />
          </div>
          <div id="nav-footer-titlebox"><a id="nav-footer-title" href="https://codepen.io/uahnbu/pens/public"
              target="_blank">Admin</a><span id="nav-footer-subtitle">Admin</span></div>
          <label for="nav-footer-toggle"><i class="fas fa-caret-up"></i></label>
        </div>
        <div id="nav-footer-content">
          <button class="nav-button-logout">
            Đăng xuất
          </button>
        </div>
      </div>
    </div>

    <!-- Phần hiển thị nội dung  -->
    <div class="content">
      aa
    </div>
  </div>
</body>

</html>