<div id="nav-bar">
  <input id="nav-toggle" type="checkbox" />
  <div id="nav-header">
    <a id="nav-title" href="#" target="_blank">3TVTOUR</a>
    <hr />
  </div>
  <div id="nav-content">
    <div class="nav-button nav__link" data-link="/dashboard">
      <i class="fas fa-chart-line" style="pointer-events: none"></i
      ><span style="pointer-events: none">Tổng quan</span>
    </div>
    <div class="nav-button nav__link" data-link="#">
      <i class="fas fa-truck-plane" style="pointer-events: none"></i
      ><span style="pointer-events: none">Phương tiện</span>
    </div>
    <div class="nav-button nav__link" data-link="#">
      <i class="fas fa-users" style="pointer-events: none"></i
      ><span style="pointer-events: none">Người dùng</span>
    </div>
    <div class="nav-button nav__link" data-link="/voucher">
      <i class="fas fa-ticket" style="pointer-events: none"></i
      ><span style="pointer-events: none">Voucher</span>
    </div>
    <div class="nav-button nav__link" data-link="#">
      <i class="fas fa-earth-americas" style="pointer-events: none"></i
      ><span style="pointer-events: none">Tour</span>
    </div>
    <div id="nav-content-highlight"></div>
  </div>
  <input id="nav-footer-toggle" type="checkbox" />
  <div id="nav-footer">
    <div id="nav-footer-heading">
      <div id="nav-footer-avatar">
        <img
          src="https://gravatar.com/avatar/4474ca42d303761c2901fa819c4f2547"
        />
      </div>
      <div id="nav-footer-titlebox">
        <a
          id="nav-footer-title"
          href="https://codepen.io/uahnbu/pens/public"
          target="_blank"
          >Admin</a
        ><span id="nav-footer-subtitle">Admin</span>
      </div>
      <label for="nav-footer-toggle"><i class="fas fa-caret-up"></i></label>
    </div>
    <div id="nav-footer-content">
      <button class="nav-button-logout">Đăng xuất</button>
    </div>
  </div>
</div>
