<div id="nav-bar">
  <div id="nav-header">
    <img
      src="/assets/image/logo/logo-header.png"
      class="admin__logo"
      alt="logo"
    />
  </div>
  <div id="nav-content">
    <div class="nav-button nav__link" data-link="/dashboard">
      <i class="fas fa-chart-line" style="pointer-events: none"></i
      ><span style="pointer-events: none">Tổng quan</span>
    </div>
    <div class="nav-button nav__link" data-link="/customer">
      <i class="fas fa-users" style="pointer-events: none"></i
      ><span style="pointer-events: none">Người dùng</span>
    </div>
    <div class="nav-button nav__link" data-link="/voucher">
      <i class="fas fa-ticket" style="pointer-events: none"></i
      ><span style="pointer-events: none">Voucher</span>
    </div>
    <div class="nav-button nav__link" data-link="/tour">
      <i class="fas fa-earth-americas" style="pointer-events: none"></i
      ><span style="pointer-events: none">Tour</span>
    </div>
    <div class="nav-button nav__link" data-link="/admin-order">
      <i class="fa-solid fa-plane-departure" style="pointer-events: none"></i
      ><span style="pointer-events: none">Order</span>
    </div>
    <!-- <div id="nav-content-highlight"></div> -->
  </div>
  <div id="nav-footer">
    <div id="nav-footer-heading">
      <div id="nav-footer-avatar">
        <img src="/assets/image/logo/logo-admin.png" />
      </div>
      <div id="nav-footer-titlebox">
        <a
          id="nav-footer-title"
          href="https://codepen.io/uahnbu/pens/public"
          target="_blank"
          >Admin</a
        >
      </div>
    </div>
    <div id="nav-footer-content">
      <button class="nav-button-logout icon__logout">Đăng xuất</button>
    </div>
  </div>
</div>
