<header id="header" class="header">
  <div class="header__container grid wide">
    <div class="header__content">
      <div class="header__logo">
        <a href="#" class="header__logo-link">
          <img
            src="/assets/image/logo/logo-header.png"
            alt="logo"
            class="image__logo"
          />
        </a>
      </div>
      <div class="header__button">
        <a href="/login" class="button button__link">Đăng nhập</a>
        <a href="/register" class="button button__link">Đăng ký</a>
      </div>
    </div>
  </div>
</header>
